torch~=2.6.0
transformers~=4.49.0
jsonlines~=4.0.0
sacrebleu~=2.5.1
jiwer~=3.1.0
evaluate~=0.4.3
datasets~=3.6.0
regex~=2024.11.6
numpy~=2.2.3
pyarrow~=20.0.0
accelerate~=1.10.0
sentencepiece~=0.2.0
sacremoses~=0.1.1
wandb~=0.21.1
